/* Set background color and layout for top section */
.result-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 0;
    padding: 1em 2em;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--sec-bg);
}

/* Disable underline for top row link to homepage */
.result-top > a {
    text-decoration: none;
}

/* Break long queries into lines */
.results-count {
    word-break: break-word;
}

/* Set layout of results display */
.results-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
    text-align: left;
    box-sizing: border-box;
    width: 100vw;
    max-width: 100%;
    padding: 2em 0 2em 0;
}

/* Set layout of each result */
.search-result {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    word-break: break-word;
    box-sizing: border-box;
    width: 75%;
    max-width: 75%;
    margin: 0;
    box-sizing: border-box;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--sec-bg);
    transition: 200ms;
}

/* Reduce space between lines in result */
.search-result > p, .result-title, .result-parent-link, .result-child-link {
    margin: 0.5em 0;
}

/* Set layout for title and score row */
.title-score-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5em;
    word-break: break-word;
    padding: 0;
    margin: 0;
}

/* Set layout for keywords row */
.keywords-row {
    display: inline-block;
    padding: 0.5em 0;
}

/* Set style for each keyword */
.keyword-box {
    font-size: 0.75em;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.25em 0.5em;
    transition: 200ms;
    background-color: var(--url);
    color: var(--base-bg);
    border: unset;
}

/* Disable underline for result title */
.result-title-link {
    text-decoration: none;
}

/* Hover effect for results */
.search-result:hover {
    box-shadow: inset 0px 0px 0px 2px var(--url);
}

/* Disable margins for parent/child links list */
.result-parents-list, .result-children-list {
    margin: 0;
}

/* Give margins to details */
details {
    margin: 0.5em 0;
}

/* Move the details marker to the right of summary */
summary {
    list-style: none;
    cursor: pointer;
}
summary::after {
    content: ' ►'
}
details[open] summary:after {
    content: ' ▼'
}

/* Set position of result page footer */
.result-page-footer {
    width: 100%;
    text-align: center;
}