/* Global colors */
:root {
    --base-bg: #fdf6e3;  /* everforest light medium bg0 */
    --sec-bg: #efebd4;  /* everforest light medium bg_dim */
    --dark-bg: #2d353b;  /* everforest dark medium bg0 */
    --base-fg: #5c6a72;  /* everforest light medium fg */
    --dark-fg: #d3c6aa;  /* everforest dark medium fg */
    --url: #8da101;  /* everforest light medium green */
}

/* Enable smooth scrolling */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--base-bg);
    margin: 0;
    padding: 0;
}

/* Set font family for headings */
h1, h2, h3 {
    font-family: "Libre Baskerville", "Noto Color Emoji", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--base-fg)
}
/* Set font family for body text */
p, a, ul, dl, select, input {
    font-family: Inter, "Noto Color Emoji", sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    color: var(--base-fg)
}
@supports (font-variation-settings: normal) {
    p, a, ul, dl, select, input { font-family: InterVariable, "Noto Color Emoji", sans-serif; }
}

section {
    display: none
}

section:target {
    display: block
}

/* Set link text color */
a {
    color: var(--url)
}