<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <title>COMP4321 Search Engine</title>

    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<main>
    <div class="mainPage">
    <h1 style="text-align:center;"><b> COMP4321 Search Engine</b></h1>
    <p style="text-align: center">Project by Group 1</p>
    <div class="mainPage">
        <p style="text-align:center;">
            <label for="searchbar"><input type="text" id="searchbar" name="searchbar" class="intro"></label>
                    <br>
            <br>
            <br>
            <button class="menu_button">Search</button>
            <button class="menu_button">I'm feeling good!</button>
        </p>
    </div>
</div>

</main>
</body>
</html>
